<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="POPTVR_WPF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

  </appSettings>
  <userSettings>
    <POPTVR_WPF.Settings>
      <setting name="TrainingFileAddress" serializeAs="String">
        <value>DataFiles\S4_D2.txt</value>
      </setting>
      <setting name="TestingFileAddress" serializeAs="String">
        <value>DataFiles\S4_D1.txt</value>
      </setting>
      <setting name="InputClusterSize" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="OutputClusterSize" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OutputFolderAddress" serializeAs="String">
        <value>OutputFiles\</value>
      </setting>
      <setting name="MaxTrainCycleNumber" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="PrintOutInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="WidthConstant" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="MaxError" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="LearningRate" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="ClusterMethod" serializeAs="String">
        <value>clusterMethod_MLVQ</value>
      </setting>
      <setting name="TraingDone" serializeAs="String">
        <value>False</value>
      </setting>
    </POPTVR_WPF.Settings>
  </userSettings>
</configuration>